body,html{
    height: 100%;
    margin: 0;
}

.background-image{
    background-image: url("img/homework2bi.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-nav{
    background: rgba(0,0,0,0.5);

    width: 100%;
    height: 50px;

    float: top;

}

header{
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier;
    font-size: 16pt;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 13px;


}

.texts{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 80px;


}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.first-icon{
    width: 28px;
    height: 28px;
    background-image: url("img/firsticonwh.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 11px;
}
.second-icon{
    width: 28px;
    height: 28px;
    background-image: url("img/secondiconwh.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 13px;
}
.thirdicon{
    width: 28px;
    height: 28px;
    background-image: url("img/thirdiconwh.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 13px;
}
li header{
    float: left;
}


 li p{
    margin:15px 60px;
     float: right;
}

li div{
    margin: 15px 10px;

    float: right;
}
input[type=text],[type=email],[type=password] ,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {

    width: 100%;
    background-color: #3cb878;
    color: rgba(255, 255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 16pt;
}
input[type=checkbox]{

    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 0;

}
.check{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
    margin-top: 5px;
    margin-right: 60px;
    float: right;


}
.span{
    color: rgba(60, 184, 120, 255);
}
.additional{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
}


 form {
    margin: 0 auto;
    width: 436px;
    height: 550px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 2%;
}
.additional-style{
    padding: 0px 60px;
}
.h3 {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
    float: left;
    margin-top: 0;


}

.h4  {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
    float: right;
       margin-top: 7px;

}


.pseudo:before{

    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background:#3cb878;
    left: 0;
    top: 30px;
    position: relative;

}
.sn{
   clear: both;
}

.fb{
    background-color: #305db8;
    width: 152px;
    height: 47px;
    float: left;
    border-radius: 3px;


}

.fbicon{
    margin-top: 15px;
    margin-left: 15px;
    float: left;

}



.g{
    background-color: #df4a32;
    width: 152px;
    height: 47px;
    float: right;
    border-radius: 3px;


}
.gicon{
    margin-top: 17px;
    margin-left: 13px;
    float: left;
}

.additional{
    width: 18px;
    height: 18px;

}

.simple-border{
   width: 2px;
    height: 20px;
    background-color:black;
    border-right: 1px solid white;
    opacity: 0.2;
    float: right;
    margin-top: 17px;

}
.ficon-border{
    width: 2px;
    height: 28px;
    background-color:#305db8;
    border-right: 1px solid black;
    opacity: 0.1;
    float: left;
    margin-left: 13px;
    margin-top: 11px;

}

.gicon-border{
    width: 2px;
    height: 28px;
    background-color:#df4a32;
    border-right: 1px solid black;
    opacity: 0.1;
    float: left;
    margin-left: 10px;
    margin-top: 11px;

}

.facebook{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    float: right;
    color: rgba(255, 255, 255, 255);
    margin-top: 13px;
    margin-right: 15px;

}
.google{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    float: right;
    color: rgba(255, 255, 255, 255);
    margin-top: 13px;
    margin-right: 23px;
}

.all-borderor{
clear: both;
}


.longborderf{
    width: 42%;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    margin-top: 35px;
    float: left;

}
.or{
    width: 10%;
    float: left;
    margin-top: 23px;
    margin-left: 18px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(132, 132, 132, 255);

}
.longborderg{
    width: 42%;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    float: right;
    margin-top: 35px;

}
input[type="text"]:focus{
    outline: none;
    box-shadow: 0px 5px  5px 0px #d6d6d6;
    border:1px solid #d6d6d6;
    height: 45px;
    margin-bottom: 4px;
}

/*HOVER AND FOCUS*/

input[type="email"]:focus{
    outline: none;
    box-shadow: 0px 5px  10px 0px #d6d6d6;
    border:1px solid #d6d6d6;
    height: 45px;
    margin-bottom: 4px;
}

input[type="password"]:focus{
    outline: none;
    box-shadow: 0px 5px  5px 0px #d6d6d6;
    border:1px solid #d6d6d6;
    height: 45px;
    margin-bottom: 4px;
}

header:hover{
    color: #3cb878;
}
.span:hover{
    text-decoration: underline;
}

.h4:hover{
    text-decoration: underline;
}
.fb:hover{
    background-color: #264b96;
}
.g:hover{
    background-color: #c3412c;
}

input[type="submit"]:hover{
    background-color: #329a65;
}

.first-icon:hover{
    background-image: url("img/firsticon.png");
}

.second-icon:hover{
    background-image: url("img/secondicon.png");
}

.thirdicon:hover{
    background-image: url("img/thirdicon.png");
}











